spring:
  application:
    name: place-recommendation-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

