spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/meetmate
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    com.meetmate: DEBUG
    org.springframework.security: DEBUG

group:
  service:
    url: ${GROUP_SERVICE_URL:http://localhost:8082}

